In [1]:
import pandas as pd

In [2]:
filename = "./datasets/ml-25m/movies.csv"

In [5]:
df = pd.read_csv(filename)

In [14]:
df[df["title"].apply(lambda x:"pulp" in x.lower())]

,movieId,title,genres
292,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
12294,59114,Pulp (1972),Comedy|Thriller
43371,165863,"Marvel: 75 Years, From Pulp to Pop! (2014)",Documentary
45420,170349,"Pulp: a Film About Life, Death & Supermarkets ...",Documentary

In [18]:
df = pd.read_csv("./datasets/ml-25m/genome-scores.csv")

In [22]:
import requests

{"page":1,"results":[],"total_pages":1,"total_results":0}

In [28]:
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhOGU2NGIxOWFkNDZhNjY4NjM1OGE2YzM3ODIwMjM1OSIsInN1YiI6IjY1ZjA1NTEwMWY3NDhiMDE2MTUxNDc3NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.TYESWppi1ajbzOohzp225iXQWASFmDHd_uNPn3C36IY"
}

{"page":1,"results":[],"total_pages":1,"total_results":0}

In [33]:
url

'https://api.themoviedb.org/3/search/movie?include_adult=false&language=en-US&page=1&&query=Inception Leonardo DiCaprio movie'