In [21]:
import pandas as pd
import requests

import os
import sys

module_path = os.path.abspath(os.path.join('../backend'))
if module_path not in sys.path:
    sys.path.append(module_path)

from db import engine, ConversationHistory
from sqlalchemy.orm import Session

In [22]:
from sqlalchemy import text

In [53]:
sql = "delete from user_preference"
with Session(engine) as sess:
    sess.execute(text(sql))
    sess.commit()

In [ ]:
sql = "select * from user_preference"

df = pd.read_sql(sql, engine)

In [22]:
df

,id,quote,user_id,movie_id,movie_title,score
0,1,"I love Hereditary so much, so good",10000,183869,Hereditary (2018),10.0
1,2,midnight in paris is good,10000,86882,Midnight in Paris (2011),NaN
2,3,why you think i would like the artist?,10000,89904,The Artist (2011),NaN

In [157]:
df

,id,quote,user_id,movie_id,movie_title,score
0,1,"I love Hereditary so much, so good",10000,183869,Hereditary (2018),10.0
1,2,I love A Quiet Place,10000,185029,A Quiet Place (2018),10.0
2,3,"I love Ju-On, please mark it for me",10000,27772,Ju-on: The Grudge (2002),NaN
3,4,I also very love Hell House LLC,10000,166655,Hell House LLC (2015),10.0
4,5,I very love The Shining,10000,180263,The Shining (1997),10.0
5,6,I love the Hellraiser,10000,3917,Hellraiser (1987),NaN

In [52]:
{
    "hist_movie_ids":df["movie_id"].tolist(),
    "hist_genres":
}

SyntaxError: expression expected after dictionary key and ':' (2338453481.py, line 3)